/* -------- Team-Members (Our Team) --------- */
.team-members {
  margin-bottom: 0;
  background-color: var(--second-bg-color);
  /* background-color: tan;  temp-color */
}

.team-members-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-member {
  width: 270px;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--secondary-grey-color);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
  margin-left: 0;
}

// .team-photo {
//   margin-bottom: 30px;
// }

.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-grey-color);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  fill: var(--socials-color);
  transition: fill var(--primary-hover);
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--primary-hover);
}

.socials-link,
.footer-socials-link {
  &:hover,
  &:focus {
    background-color: var(--secondary-color);
  }
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--primary-bg-color);
}
